@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body,
.calculator::before {
  background: url("./fond.webp") 0 / cover fixed;
}

.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);

  z-index: 10;
}

.calculator {
  position: relative;
  display: grid;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 6px;
}

.calculator::before {
  content: "";
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(5px);
  z-index: -1;
}

.value {
  grid-column: span 4;
  height: 140px;
  width: 300px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 34px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.calculator span {
  display: grid;
  width: 75px;
  height: 75px;
  color: white;
  font-weight: 400;
  place-items: center;
  font-size: 24px;
  user-select: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.calculator span:hover {
  transition: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.calculator span:active {
  transition: 0s;
  background-color: rgba(31, 159, 233, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.container .calculator .clear {
  grid-column: span 2;
  width: 150px;
}

.container .calculator .plus {
  grid-row: span 2;
  height: 150px;
}

.container .calculator .equal:hover {
  background-color: rgba(204, 27, 27, 0.445);
}
